{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "semi": true,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true,
  "insertPragma": false,
  "requirePragma": false,

  "overrides": [
    {
      "files": ["*.yaml", ".prettierrc", "package.json"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": [".editorconfig", "*.md"],
      "options": {
        "tabWidth": 0
      }
    }
  ]
}
